.contenedor-ahorcado {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pizarra {
    background-color: transparent;
}

.botonera {
    padding: 2rem;
}

.boton-nuevo-juego, .boton-desistir {
    font-size: 1rem;
    font-weight: bold;
    height: 4.188rem;
    width: 20.75rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .contenedor {
        height: 100vh;
        justify-content: space-between;
    }
}