#pizarra {
    display: block;
    margin: 0 auto;
}

.botonera {
    margin-top: 5%;
}

#btn-nuevo-juego {
    width: 332px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    font-size: 16px;
    color: #FFFFFF;
}

#btn-desistir {
    width: 332px;
    height: 67px;
    margin-left: 0.5em;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-size: 16px;
    color: #0A3871;
}