.contenedor-ahorcado {
    display: flex;
    flex-direction: column;
}

.botonera {
    margin-top: 2.5%;
}

#btn-nuevo-juego {
    width: 332px;
    height: 67px;

    background: var(--color-negro);
    border-radius: 1.5rem;

    font-size: 1rem;
    font-weight: bold;
    color: var(--color-blanco);
}

#btn-desistir {
    width: 332px;
    height: 67px;
    margin-left: 0.5em;

    background: var(--color-blanco);
    border: 0.063rem solid var(--color-negro);
    border-radius: 1.5rem;

    font-size: 1rem;
    font-weight: bold;
    color: var(--color-negro);
}