:root {
    --color-blanco: #d2d1da;
    --color-negro: #4c4e4a;
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    width: 100vw;
}

.encabezado {
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 51px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 150px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-blanco);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.copyright {
    align-items: center;
    color: var(--color-negro);
    display: flex;
    height: 3.125rem;
    justify-content: center;
    text-align: center;
}

/* Responsivo para para teléfonos móviles */
@media screen and (max-width:676px) {
    .copyright__msg1::after {
        content: "\a";
        white-space: pre;
    }
}