:root {
    --color-azul: #4e42d4;
    --color-blanco: #f7f9fb;
    --color-negro: #192549;
    --color-rojo: #ff3859;
}

.contenedor {
    background-image: url("../img/moroccan-flower.png");
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.encabezado {
    background-color: var(--color-azul);
    display: flex;
    justify-content: flex-start;
    padding: 2rem 4rem;
}

.logo {
    height: 3.188rem;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    align-items: center;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    display: flex;
    height: 8rem;
    justify-content: center;
}

/* Responsivo para para teléfonos móviles */
@media screen and (max-width:676px) {
    .copyright__msg1::after {
        content: "\a";
        white-space: pre;
    }
}