:root {
    --color-azul: #4e42d4;
    --color-blanco: #f7f9fb;
    --color-negro: #192549;
    --color-rojo: #ff3859;
}

.contenedor {
    background-image: url("../img/moroccan-flower.png");
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.encabezado {
    background-color: var(--color-azul);
    display: flex;
    justify-content: flex-start;
    padding: 2rem 4rem;
}

.logo {
    height: 3.188rem;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    align-items: center;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    display: flex;
    height: 8rem;
    justify-content: center;
    font-size: 1rem;
}

.footer__link {
    color: var(--color-blanco);
    font-size: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }
}