.menu-principal {
    display: flex;
    flex-direction: column;
}

#iniciar-juego {
    background-color: var(--color-negro);
    border-radius: 1.5rem;
    color: var(--color-blanco);
    font-size: 1.125rem;
    font-weight: bold;
    width: 317px;
    height: 114px;
}

#agregar-palabra {
    background: var(--color-blanco);
    border: 0.063rem solid var(--color-negro);
    border-radius: 1.5rem;
    color: var(--color-negro);
    font-size: 1rem;
    font-weight: bold;
    height: 67px;
    margin-top: 38px;
    width: 280px;
}