.contenedor-ingresar-palabra {
     margin-top: 10%;
}

#nueva-palabra {
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 32px;
    color: #4c4e4a;
}   

.msj-advertencia {
    height: 16px;
    margin-top: 40%;
    display: flex;
    align-items: center;
}

.txt-advertencia {
    margin-left: 0.5em;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}

#btn-guardar {
    width: 332px;
    height: 67px;

    background: #4c4e4a;
    border-radius: 24px;

    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

#btn-cancelar {
    width: 332px;
    height: 67px;
    margin-left: 0.5em;

    background: #EFEFEF;
    border: 1px solid #4c4e4a;
    border-radius: 24px;

    font-size: 16px;
    font-weight: bold;
    color: #4c4e4a;
}