.contenedor-ingresar-palabra {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.contenedor-nueva-palabra {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-nueva-palabra {
    margin-top: 4%;
}

.nueva-palabra {
    background-color: transparent;
    border: none;
    color: var(--color-negro);
    font-size: 2rem;
    outline: none;
}

.botonera {
    display: flex;
    flex-direction: column;
}

.msj-advertencia {
    align-items: center;
    color: var(--color-negro);
    display: flex;
    height: 1rem;
    margin-bottom: 1rem;
}

.txt-advertencia {
    color: var(--color-negro);
    font-size: 0.75rem;
    margin-left: 0.5em;
    opacity: 0.8;
}

.btn-guardar {
    background: var(--color-negro);
    border-radius: 1.5rem;
    color: var(--color-blanco);
    font-size: 1rem;
    font-weight: bold;
    height: 67px;
    width: 332px;
}

.btn-cancelar {
    background: var(--color-blanco);
    border: 0.063rem solid var(--color-negro);
    border-radius: 1.5rem;
    color: var(--color-negro);
    font-size: 1rem;
    font-weight: bold;
    height: 67px;
    margin-left: 0.5em;
    width: 332px;
}

/* Responsivo para para teléfonos móviles */
@media screen and (max-width:676px) {
    .form-nueva-palabra {
        margin-top: 15%;
    }

    .nueva-palabra {
        font-size: 1.5rem;
    }

    .botonera {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-guardar {
        margin-bottom: 1rem;
    }

    .btn-cancelar {
        margin: 0;
    }
}